<h1><%= @post.title %></h1>
  <p> <%= @post.content %></p>

<%= link_to 'Back', group_path(@post.group.id) %>
&nbsp;&nbsp;&nbsp;&nbsp;
<%if @post.user == current_user%>
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>
<br><br>
<%= form_for [@post, @comment] do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "comment" %>
<% end %>


<ul>
<% @post.comments.each do |comment| %>
  <li>
    <div class = "comment">
      <strong><%=comment.user.username%></strong>: <br> &nbsp;&nbsp; <%= comment.content %><br>
      <%if comment.user == current_user%>
        <%= link_to "delete comment", comment_path(comment), method: :delete %>
      <%end%>
    </div>
  </li>
<% end %>
</ul>
