<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>

  <body>
    <p>
    <div class="container">
    <div class="row">
      <div class="col-sm">
        <%= link_to 'Create Thread', new_post_path %>
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        <% if current_user %>
          Welcome, <%= link_to current_user.username, user_path(current_user) %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
        <% else %>
          // <%= link_to 'Log In', login_path %>
          // &nbsp;&nbsp;|&nbsp;&nbsp;
          // <%= link_to 'Sign Up', new_user_path %>
        <% end %>
      </div>
    </div>
  </div>
    
    </p>
    
  

    <%= yield %>
  </body>
</html>
